.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.funds {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > div + div {
    margin-left: 1em;
  }
}

.buttonContainer {
  margin-left: auto;

  > button + button {
    margin-left: 1em;
  }
}
